.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    /* justify-content: space-evenly; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: center; */
    /* justify-content: start; */
    justify-content: end;
    background-color: #2196F3;
    padding: 10px;
}

.grid-item{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

