.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.item8{

    /*
        linha de linha 2
        linha da coluna 1
        altura de duas linhas
        largura de 3 colunas
    */
    grid-area: 2 / 1 / span 2 / span 3;
}